* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #292929;
    font-family: 'Newsreader', serif;
    color: white;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    min-width: 1000px;
 } 

#wrapper{
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    flex-direction: row;
}
.content-body {

    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(58, 58, 56, 0.541);
    border-radius: 10px; 
    height: 70%;
    width: 60%;
}


.main{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:baseline;
    /* align-items:stretch; */
    height: 100%;
    width: 60%; 
    background-color: rgba(58, 58, 56, 0.541);
    border-radius: 10px; 
}
.menu nav {
    width: 100% ;
    padding: 1rem;
    
}
.main_textSection{
    flex: 1;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
   
}
.main_imageSection{
    background-image: url(https://images.unsplash.com/photo-1503924087716-07cbd5f49b21?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=8);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
  
}




 

button {
    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Newsreader', serif;
    font-size: 25px;
}
 


nav button
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav button:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
}

nav button:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav button:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

#indicator
{
    position: relative;
    left: 5%;
    bottom: 0;
    width: 60px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav button:hover
{
    color: #fff;
}

nav button:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav button:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, rgb(245, 245, 241), rgb(83, 82, 82));
}

nav button:nth-child(2):hover ~ #indicator
{
    background: linear-gradient(130deg, rgb(245, 245, 241), rgb(83, 82, 82));
    left: 36%;
}

nav button:nth-child(3):hover ~ #indicator
{
    background: linear-gradient(130deg, rgb(245, 245, 241), rgb(83, 82, 82));
    left: 72%;
  
}

 
@media only screen and (max-width: 680px) {
	/* .main_imageSection { 
		display: none;
	} */
    .content-body{

        align-items: left;
        width: 300px ;
    }
    .menu nav {
        width: 20px;
        
    }
    #content-home-page{
        
        flex: 1;
        padding: 1rem;
        width: 400px;
        max-height: 600px;
        scroll-behavior:auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #292929;
        /* Ändra så flex går som column och bli mindre
        meny ska gå neråt
        */
    }
    button{
       
    }

   
}
@media only screen and (max-width: 1450px){
    button{
        font-size: 15px;
    }

}
@media only screen and (max-width: 1000px){
    button{
        font-size: 10px;
    }
    .content-body{
        background-color: #292929;

    }

}


 




